@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;700&display=swap");

:root {
  --clr-primary-dark: #163a17;
  --clr-primary-medium: #276500;
  --clr-primary-light: #abf8b0;

  --clr-gray-medium: #898989;
  --clr-gray-light: #e0efe1;

  --clr-white: #ffffff;

  --fs-desktop-1: 4.75rem;
  --fs-desktop-2: 3rem;
  --fs-desktop-3: 2.4rem;
  --fs-desktop-4: 1.25rem;

  --fs-mobile-1: 2.5rem;
  --fs-mobile-2: 2.5rem;
  --fs-mobile-3: 2rem;
  --fs-mobile-4: 1.25rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
// ------------------------------------- //
// ---------- DESKTOP VERSION ---------- //
// ------------------------------------- //
*/

body {
  font-family: "Noto Sans", sans-serif;
  font-size: var(--fs-desktop-4);
  color: var(--clr-primary-dark);
  /* background-color: #F2F2F2; */
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: var(--clr-primary-dark);
}

h1 {
  font-size: var(--fs-desktop-1);
  text-align: center;
  margin-bottom: 3.5rem;
}

h2 {
  font-size: var(--fs-desktop-2);
  font-weight: 400;
  margin-bottom: 2.25rem;
}

h3 {
  font-size: var(--fs-desktop-3);
  font-weight: 400;
  margin-bottom: 2.25rem;
}

p {
  margin-bottom: 1rem;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--clr-white);
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  font-size: var(--fs-desktop-3);
  font-weight: 800;
}

.logo > img {
  width: 2.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.menu {
  display: none;
}

.menu__links {
  display: block;
}

nav {
  text-align: right;
}

main {
  padding: 10rem 14rem 0rem;
  background-image: url("./images/bladdruppel.png");
  background-repeat: no-repeat;
  background-size: 1500px auto;
  background-position: -2rem 2rem;
  max-width: 90rem;
  margin: 0 auto;
}

.main__about {
  text-align: center;
  margin-bottom: 4rem;
}

.main__team {
  margin-bottom: 4rem;
  text-align: center;
}

.main__introduction {
  margin-bottom: 4.5rem;
  display: grid;
  grid-template-areas:
    "image name"
    "image text";
}

.main__introduction--flipped {
  margin-bottom: 4.5rem;
  display: grid;
  grid-template-areas:
    "name image"
    "text image";
}

.main__introduction__name {
  grid-area: name;
}

.main__introduction__text {
  grid-area: text;
}

.main__introduction__image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__introduction__image > img {
  display: block;
  width: 14.375rem;
  height: 14.375rem;
  background-color: var(--clr-primary-medium);
  border-radius: 50%;
}

.main__introduction__image--left {
  margin-right: 4.5rem;
}

.main__introduction__image--right {
  margin-left: 4.5rem;
}

.button {
  border: none;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  display: inline-block;
}

.navbutton {
  background-color: var(--clr-gray-light);
  color: var(--clr-primary-dark);
  width: 10rem;
  height: 2.125rem;
  line-height: 1.5;
}

.navbutton:hover {
  background-color: var(--clr-primary-light);
}

.orderbutton {
  background-color: var(--clr-primary-medium);
  color: var(--clr-white);
  width: 15.625rem;
  height: 5rem;
  line-height: 3.4;
}

.orderbutton:hover {
  background-color: var(--clr-primary-dark);
}

footer {
  text-align: center;
  padding-bottom: 4.5rem;
  background-image: url("./images/bladdruppel.png");
  background-repeat: no-repeat;
  background-size: 2000px auto;
  background-position: right top;
}

/*
// ------------------------------------- //
// ---------- MOBILE VERSION ---------- //
// ------------------------------------- //
*/
@media only screen and (max-width: 1000px) {
  .menu__button {
    width: 2.5rem;
    height: 2.5rem;
    right: 1rem;
    top: 1rem;
    position: fixed;
    border-radius: 50%;
    background-color: var(--clr-gray-light);
    color: var(--clr-primary-dark);
    border: none;
    text-align: center;
    margin: auto;
  }

  .menu__button:hover {
    background-color: var(--clr-primary-light);
  }

  .menu__links {
    display: none;
  }

  .menu {
    display: block;
  }

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 0;
    background-color: var(--clr-white);
  }

  nav {
    text-align: center;
    width: 100%;
  }

  .navbutton {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 0;
  }

  .links {
    display: none;
  }

  h1 {
    font-size: var(--fs-mobile-1);
  }

  h2 {
    font-size: var(--fs-mobile-2);
  }

  h3 {
    font-size: var(--fs-mobile-3);
    margin-bottom: 1rem;
  }

  main {
    padding: 5rem 1.5rem 0rem;
    background-size: 500px auto;
    background-position: -2rem 6rem;
  }

  .main__introduction,
  .main__introduction--flipped {
    grid-template-areas:
      "name"
      "image"
      "text";
  }

  .main__introduction__name {
    text-align: center;
  }

  .main__introduction__text {
    text-align: center;
  }

  .main__introduction__image--left,
  .main__introduction__image--right {
    margin: auto;
  }

  .main__introduction__image {
    margin-bottom: 1rem;
  }

  .main__introduction__image > img {
    width: 10rem;
    height: 10rem;
  }
}

/*
// --------------------------------------- //
// ---------- SCROLL ANIMATIONS ---------- //
// --------------------------------------- //
*/

.main__introduction__image {
  opacity: 0;
  transition: opacity 500ms;
}

.main__introduction__image.scrolled {
  opacity: 1;
}

.main__introduction__image--left.scrolled {
  animation: slide-in-left 1s ease-in-out both;
}

.main__introduction__image--right.scrolled {
  animation: slide-in-right 1s ease-in-out both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px) rotate(-90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px) rotate(90deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0px) rotate(0deg);
    opacity: 1;
  }
}
