@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.25rem;
  color: #163a17;
  /* background-color: #F2F2F2; */
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  color: #163a17;
}

h1 {
  font-size: 4.75rem;
  text-align: center;
  margin-bottom: 3.5rem;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 2.25rem;
}

h3 {
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2.25rem;
}

p {
  margin-bottom: 1rem;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: #ffffff;
}

.logo {
  display: flex;
  align-items: center;
  font-style: 1.95rem;
  font-weight: 800;
}

.logo > img {
  width: 2.5rem;
  height: auto;
  margin-right: 0.5rem;
}

.menu {
  display: none;
}

nav {
  text-align: right;
}

main {
  padding: 10rem 14rem 0rem;
  background-image: url("./images/bladdruppel.png");
  background-repeat: no-repeat;
  background-size: 1500px auto;
  background-position: -2rem 2rem;
  max-width: 90rem;
  margin: 0 auto;
}

.main__about {
  text-align: center;
  margin-bottom: 4rem;
}

.main__team {
  margin-bottom: 4rem;
  text-align: center;
}

.main__introduction {
  margin-bottom: 4.5rem;
  display: grid;
  grid-template-areas:
    "image name"
    "image text";
}

.main__introduction--flipped {
  margin-bottom: 4.5rem;
  display: grid;
  grid-template-areas:
    "name image"
    "text image";
}

.main__introduction__name {
  grid-area: name;
}

.main__introduction__text {
  grid-area: text;
}

.main__introduction__image {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__introduction__image > img {
  display: block;
  width: 14.375rem;
  height: 14.375rem;
  background-color: lightgreen;
  border-radius: 50%;
}

.main__introduction__image--left {
  margin-right: 4.5rem;
}

.main__introduction__image--right {
  margin-left: 4.5rem;
}

.button {
  border: none;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  display: inline-block;
}

.navbutton {
  background-color: #e0efe1;
  color: #163a17;
  width: 10rem;
  height: 2.125rem;
  line-height: 1.5;
}

.navbutton:hover {
  background-color: #abf8b0;
}

.orderbutton {
  background-color: #a7db7f;
  color: #ffffff;
  width: 15.625rem;
  height: 5rem;
  line-height: 3.4;
}

.orderbutton:hover {
  background-color: #163a17;
}

footer {
  text-align: center;
  padding-bottom: 4.5rem;
  background-image: url("./images/bladdruppel.png");
  background-repeat: no-repeat;
  background-size: 2000px auto;
  background-position: top right top;
}

@media only screen and (max-width: 1000px) {
  .menu__button {
    width: 2.5rem;
    height: 2.5rem;
    right: 1rem;
    top: 1rem;
    position: fixed;
    border-radius: 50%;
    background-color: #e0efe1;
    color: #163a17;
    border: none;
    text-align: center;
    margin: auto;
  }

  .menu__button:hover {
    background-color: #abf8b0;
  }

  .menu__links {
    display: none;
  }

  .menu {
    display: block;
  }

  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 0;
    background-color: #ffffff;
  }

  nav {
    text-align: center;
    width: 100%;
  }

  .navbutton {
    display: block;
    width: 100%;
    margin: 0.5rem 0;
    border-radius: 0;
  }

  .links {
    display: none;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  main {
    padding: 5rem 1.5rem 0rem;
    background-size: 500px auto;
    background-position: -2rem 6rem;
  }

  .main__introduction,
  .main__introduction--flipped {
    grid-template-areas:
      "name"
      "image"
      "text";
  }

  .main__introduction__name {
    text-align: center;
  }

  .main__introduction__text {
    text-align: center;
  }

  .main__introduction__image--left,
  .main__introduction__image--right {
    margin: auto;
  }

  .main__introduction__image {
    margin-bottom: 1rem;
  }

  .main__introduction__image > img {
    width: 10rem;
    height: 10rem;
  }
}
